extends layout
block content  
 .container

  h1 Register
  form.form-signin(action="/users/register", method="post", role="form")
    input(type="hidden", name="_csrf", value=csrf_token)
    
    .form-label-group Email address
      input#email.form-control(type='email' name='email' placeholder='Email address' required='' autofocus='' )
      label(for='email') 
    .form-label-group Password
      input#password.form-control(type='password' name='password' placeholder='Password' required='' )
      label(for='password') 
    .form-label-group Full Name
      input#name.form-control(type='text' name='name' placeholder='Full Name' required='')
      label(for='name') 
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign up
    .my-3.text-center
      | or 
      a.show-signup(href="/users/login") Log in